<% layout( 'layouts/boilerplate' ) %>

<div class="d-flex justify-content-center align-items-center flex-grow-1">
  <div>
    <h1 class="text-center my-4" id="heading">Add Your WatchBag</h1>
    <form
      method="POST"
      action="/mywatchbags"
      class="needs-validation col-md-10"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label mb-3" for="name">Name of WatchBag</label>
        <input
          class="form-control"
          type="text"
          id="name"
          name="name"
          placeholder="Hollywood Banger"
          required
        />
        <div class="valid-feedback">
          Looks Good!<i class="fa-solid fa-thumbs-up"></i>
        </div>
        <div class="invalid-feedback">
          Please enter a name!<i class="fa-solid fa-thumbs-down"></i>
        </div>
      </div>

      <!-- Image file input code -->
      <div class="mb-3">
        <label for="formFile" class="form-label mb-3">Upload Image File</label>
        <input class="form-control" type="file" id="formFile" name="image" />
      </div>

      <div class="mb-3">
        <label class="form-label mb-3" for="floatingTextarea2"
          >Description</label
        >
        <textarea
          class="form-control"
          name="description"
          placeholder="WatchBag Description"
          id="floatingTextarea2"
          style="height: 100px"
          required
        ></textarea>
        <div class="valid-feedback">
          Looks Good! <i class="fa-solid fa-thumbs-up"></i>
        </div>
        <div class="invalid-feedback">
          Please enter a description of your Watchbag!
          <i class="fa-solid fa-thumbs-down"></i>
        </div>
      </div>

      <button class="btn btn-success mt-2">Create New Bag</button>
    </form>
  </div>
</div>
