<% layout('layouts/boilerplate') %> 

<div class="row no-gutters mt-3 align-items-center col-md-4 offset-md-4">
  <form class="form-inline" action="/search" method="post" novalidate>
      <div class="input-group mb-3">
          <label class="form-label" for="search"></label>
          <input type="text" class="form-control col-md-4 rounded-pill pr-5" placeholder="Search" id="search" name="search" required>
          <button type="submit" class="btn btn-danger text-dark border-0 ms-2 rounded-pill ml-n5"><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
  </form>
</div>
<br>

<div class="intro intro-carousel swiper position-relative border border-3-dark" style="width:1200px; height:600px;">

    <div class="swiper-wrapper">

      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(house-of-the-dragon.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <!-- Text on Image -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style=" object-fit:cover; background-image: url(Chainsawman.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <!-- Text on Image -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide carousel-item-a intro-item bg-image" style="background-image: url(Tripling-Season-3.jpg)">
        <div class="overlay overlay-a"></div>
        <div class="intro-content display-table">
          <div class="table-cell">
            <div class="container">
              <div class="row">
                <div class="col-lg-8">
                  <div class="intro-body">
                    <!-- Text on Image -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
<br>